
<div>
  <div class="col-xs-6 col-md-3">
    <div class="thumbnail" style="width: 100%;">
      <img *ngIf="(image + 1) % 4 == 1" src="../../assets/PUBG.jpg">
      <img *ngIf="(image + 1) % 4 == 2" src="../../assets/mario.jpg">
      <img *ngIf="(image + 1) % 4 == 3" src="../../assets/fifa.jpg">
      <img *ngIf="(image + 1) % 4 == 0" src="../../assets/mario.jpg">
      <div class="caption">
        <h3>{{ name }}</h3>
        <p>{{ description }}</p>
        <p>
          <a *ngIf="game !== undefined" href="#" class="btn btn-primary" role="button" style="margin-right: 10px;" routerLink="{{gameUrl}}">Play game</a> 
          <a *ngIf="game !== undefined" href="#" class="btn btn-default" role="button"  routerLink="{{gameUrl}}">Read more</a>
        </p>
      </div>
    </div>
  </div>
</div>